<div class='budgetapp-container'>
  <h2> Budget App </h2>
  <div class='link-tags'>
      <%= link_to 'Log in', new_user_session_path %>
      <%= link_to 'Sign up', new_user_registration_path %>
  </div>
</div>
